html, body{
    height: 100%;
}

body.lock{
    overflow: hidden;
}

/* блок с дизайном хедера */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 0 50px 0;
    background-color: rgb(255, 255, 255, 90%);
    border: 2px solid #dadaf6;
}

.header_content{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px;
}

.top_menu{
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
}

.top_menu > li{
    display: inline-block;
    position: relative;
}

.top_menu > li > a{
    font-family: 'Exo 2', sans-serif;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}

.down_sub_menu:after{
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome, serif;
}

.top_menu li a{
    color: #2e30d0;
}

.sub_menu{
    padding: 0 10px;
    background: white;
    border: 2px solid #dadaf6;
    border-radius: 5px;;
    position: absolute;
    left: 25px;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: auto;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0;
    transition: .6s ease-in-out;
    list-style-type: none;
}

.top_menu >li:hover .sub_menu{
    visibility: visible;
    opacity: 3;
    transform: perspective(500px) rotateX(0deg);
}

.sub_menu li a{
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
}

/* Оформления основных контейнеров */
/* Главные контейнеры */
.wrapper{
    overflow: hidden;
    min-height: 100%;
}

.main_container{
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.content{
    padding: 100px 0 0 0;
}

/* Контейнер для карточек с бронированием */
.booking_container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1070px;

}

/* Контейнер для настроек */
.settings_container{
    border: 2px solid #c6c6ef;
    border-radius: 5px;
    padding: 10px;
}

.calender_container{
    display: flex;
    flex-direction: column;
}

.calender_content{
    margin: 5px 0;
}

.checkbox_container{
    margin: 2px 0;
}

.checkbox_content{
    border: 1px solid #e6e6ff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.name_checkbox{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
}

.checkbox_label{
    margin: 3% 0;
    width: max-content;
}

/* блок с дизайном кнопок */
.button_container{
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;
}

.button_menu_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.button_client{
    background-color: #dadaf6;
    border: 1px solid #c6c6ef;
    color: #6d6d72;
    border-radius: 3px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 0;
}

.button_find, .button_sorting, .button_booking, .button_setting{
    background-color: #dadaf6;
    border: 2px solid #c6c6ef;
    color: #6d6d72;
    border-radius: 5px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 20px;
}

/* Дизайн каточек бронирований */
.available_room{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Дизайн модальных окон для карточек */
.modal_window{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;

}
.modal_window:target{
    opacity: 1;
    visibility: visible;
}
.window_area{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}
.window_body{
    min-height: 100%;
    max-height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 10px;
}
.window_content{
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 10px;
    position: relative;
    border: 1px solid #c6c6ef;
    border-radius: 10px;
}
.window_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.window_close:hover{
    background: #e6e6ff;
}
.window_title{
    font-size: 40px;
    margin: 0 0 1em 0;
}

.to_modal_window{
    margin: 15px;
    border: 2px solid #e6e6ff;
    border-radius: 6px;
    max-height: 30%;
    padding: 0 20px;
}

.to_modal_window:hover{
    background-color: #e6e6ff;
}

.booking_client{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
