html, body{
    height: 100%;
}

body.lock{
    overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 0 50px 0;
    background-color: rgb(255, 255, 255, 90%);
    border: 2px solid #dadaf6;
}

.headerContent{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px;
}

.topMenu{
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
}

.topMenu > li{
    display: inline-block;
    position: relative;
}

.topMenu > li > a{
    font-family: 'Exo 2', sans-serif;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}

.downSubMenu:after{
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome, serif;
}

.topMenu li a{
    color: #2e30d0;
}

.subMenu{
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0;
    transition: .6s ease-in-out;
}

.topMenu >li:hover .subMenu{
    visibility: visible;
    opacity: 3;
    transform: perspective(500px) rotateX(0deg);
}

.subMenu li a{
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
}

.buttonClient{
    background-color: #dadaf6;
    border: 1px solid #c6c6ef;
    color: #6d6d72;
    border-radius: 3px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 0;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
}

.content{
    padding: 100px 0 0 0;
}

.bookingContainer{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1070px;

}
.mainContainer{
    padding: 0 15px;
    /*max-width: 1070px;*/
    display: flex;
    justify-content: center;
}

.settingsContainer{
    border: 2px solid #c6c6ef;
    border-radius: 5px;
    padding: 10px;
}

.calenderContainer{
    display: flex;
    flex-direction: column;
}

.calenderContent{
    margin: 5px 0;
}

.checkboxContainer{
    margin: 2px 0;
}

.checkboxContent{
    border: 1px solid #e6e6ff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.nameCheckbox{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
}

.checkboxLabel{
    margin: 3% 0;
    width: max-content;
}

.buttonFindContainer, .buttonSortingContainer{
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;
}

.buttonFind, .buttonSorting{
    background-color: #dadaf6;
    border: 2px solid #c6c6ef;
    color: #6d6d72;
    border-radius: 5px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.availableRoom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.modalWindow{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;

}
.modalWindow:target{
    opacity: 1;
    visibility: visible;
}
.windowArea{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}
.windowBody{
    min-height: 100%;
    max-height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 10px;
}
.windowContent{
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 10px;
    position: relative;
    border: 1px solid #c6c6ef;
    border-radius: 10px;
}
.windowClose{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.windowClose:hover{
    background: #e6e6ff;
}
.windowTitle{
    font-size: 40px;
    margin: 0 0 1em 0;
}
.windowText{

}

.toModalWindow{
    margin: 15px;
    border: 2px solid #e6e6ff;
    border-radius: 6px;
    max-height: 30%;
    padding: 0 20px;
}

.toModalWindow:hover{
    background-color: #e6e6ff;
}

.bookingClient{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
