<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title> Мои бронирования </title>
        <link rel="stylesheet" href="/static/css/style.css">
        {% import "macros.html" as macros %}
    </head>
    <body>
        {# Хедер #}
        <header id="header" class="header lock_padding">
            {{ macros.render_booking_header(df_client, client_id, len, int) }}
        </header>

        {# Основное контейнер #}
        <div class="content">
            <div class="main_container">
                {# Контейнер настроек #}
                <div class="settings_container">
                    <form action="" method="get">
                        <div class="checkbox_container">
                            {{ macros.render_check_box(df_status_room, status_room_list, 'status_room',
                            'Статус бронирования', len, str) }}
                        </div>
                        <div class="checkbox_container">
                            {{ macros.render_check_box(df_type, type_room_list, 'type_room', 'Тип комнаты', len, str) }}
                        </div>
                        <div class="checkbox_container">
                            {{ macros.render_check_box(df_description, description_room_list, 'description_room',
                            'Вид из окна', len, str) }}
                        </div>
                        <div class="button_container">
                            <input type="submit" value="Сортировать" name="sorting" class="button_sorting">
                        </div>
                    </form>
                </div>

                {# Контейнер с карточками для бронирований и модальными окнами для карточек #}
                <div class="booking_container">
                    {{ macros.render_booking_client(df_booking, len) }}
                </div>
                {{ macros.render_modal_window_booking(df_booking, df_booking_services,
                    df_service, service_list, len, str, int) }}
            </div>
        </div>
    </body>

    <script>
        // работа с изменением цены
        modal_windows = document.querySelectorAll('.modal_window');
        let n = modal_windows.length;
        let services = [];
        let price_service = {1:205, 2:350, 3:400, 4:580, 5:750, 6:650, 7:100}
        for(var i=0; i<n; i++){
            services.push( [] );
        }
        for(let i=0; i < n; i++){
            let full_price = modal_windows[i].querySelector(`#full_price_${i}`);
            for(j=0; j < 7; j++){
                services[i].push(modal_windows[i].querySelector(`#service_${i}_${j}`));
            }
            for(j=0; j<7; j++){
                if (services[i][j].checked){
                    full_price.textContent = Number(full_price.textContent) + price_service[j+1]
                }
            }
            for(let j=0; j<7; j++){
                services[i][j].addEventListener("change", function (){
                    if (this.checked){
                        full_price.textContent = Number(full_price.textContent) + price_service[j+1]
                        console.log(full_price.textContent)
                    }
                    else{
                        full_price.textContent = Number(full_price.textContent) - price_service[j+1]
                        console.log(full_price.textContent)
                    }
                })
            }
        }
    </script>
</html>